.container{
    display: flex;
    flex-direction: column;
    gap: 12px;  
    margin-top:60px;
}
.container .box{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;

}
.add{
    width: 195px;
    height: 48px;
}
.category-input option {
    color: #000;
}
.border-x {
    border: none !important;
    font-size: 14px;
    color:#707070;
}
.name-input {
    width: 1000px;
    height:56px;
    padding: 10px 12px;
    border: 1px solid #E6E6E6; 
    border-radius: 6px;
    outline: none;
}
.category-input{
    width: 1000px;
    height:56px;
    border-radius: 8px;
    border: 1px solid #E6E6E6; 
    color: #999;
}
.cover-input {
    width: 1000px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    background-color: #f3f3f3; 
}
.cover-input::file-selector-button {
    background-color: #0077B6;
    color: #E6E6E6;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}
.cover-input::file-selector-button:hover {
    background-color: #0b2253;
}
.content-input{
    width:1000px;
    height:274px;
    border: 1px solid #E6E6E6;
}
.add1{
    width:215px;
    height:48px;
}
.add2{
    width:225px;
    height:52px;
    font-size: 15px;
}
.margin-edit-category{
    margin-right: 100px;
}