.container_login{
    display: block;
    width:500px;
    height:492px;
    border:1px solid #E6E6E6;
    border-radius: 32px;
    padding:48px 32px;

}
.body_login{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}
.container_login img{
    display: block;
    margin: 0 auto;
}
.box_login{
    margin-top: 24px;
    
}
.box_login p{
    color:#707070;
    font-size: 14px;
    font-weight: 500;
}
.box_login input{
    border:1px solid #E6E6E6;
    border-radius: 12px;
    gap:10px;
    padding:16px;
    width:436px;
}
.login-button{
    background-color: #0077B6;
    border-radius: 8px;
    padding:12px 24px;
    margin-top: 24px;
    width:436px;
    height:48px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
.register{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-top: 16px;
    color:#707070;
}